manifest {
	name = 'FASTA participant example workflow (Nextflow DSL2) for STEERS'
	homePage = 'https://github.com/inab/steers-community-aligners-example/tree/main/fasta-participant'
	defaultBranch = 'main'
	mainScript = 'main.nf'
	nextflowVersion = '>=24.04.4'
}

params {
    inputs = "https://www.rcsb.org/fasta/entry/1QUE"
    database = "https://files.rcsb.org/pub/pdb/derived_data/pdb_seqres.txt"
    output_dir = "${baseDir}/results/"
}

profiles {
	docker {
		docker {
		  runOptions='-u $(id -u):$(id -g)'
		  enabled = true
		}
		singularity.enabled = false
	}

	singularity {
		docker.enabled = false
		singularity {
			enabled = true
			runOptions = '--userns'
			autoMounts = true
		}
	}
}

